body {
    background-color: #a5652a5b;
    margin: 2% auto;
    font-size: 1em;
    color: #024b02;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media (max-width: 420px) {
    .container {
        display: flex;
        flex-flow: row wrap;
    }
}
h1, h2 {
    margin: 0;
    padding: 10px;
    text-align: center;
}
h2 {
    font-size: 1em;
}
h3 {
    margin: 0;
    padding: 5px;
    font-weight: normal;
    text-align: right;
    font-size: 1.1em;
}

/* Main */
.container {
    display: flex;
    gap: 20px;
}
/* .menu {
} */
.box {
    margin: 0 10px;
    border: 1px solid #015814;
    border-collapse: collapse;
}
.narrative {
    margin: 5px auto;
    padding: 0 10px;
    /* background-color: #808080; */
}
/* Footer */

footer {
    margin-top: 2%;
    font-size: .9em;
    float: right;
    padding: 8px;
    width: fit-content;
    background-color: #6b8e2380;
    margin-right: 20px;
}
footer a {
    text-decoration: none;
    color: #015814;
}
footer a:hover {
    text-shadow: 0 0 10px #808080;
}